@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
a{
    font-family: 'Poppins', sans-serif;
    color: white;
    font-size: 18px;
    font-weight: 500;
}
p, h1, h2, h3, h4, h5, h6, strong{
    font-family: 'Poppins', sans-serif;
    color: white;
    font-weight: 500;
}


body{
    background-image: linear-gradient(125deg, #6621af, #ae3eda);
    text-decoration: none;
    text-align: center;
}